{% extends 'layout.html' %}
{% block title %}
<i class="fas fa-users-cog"></i> Admin 
{% endblock title %}
{% block nav %}
<li class='nav-item active ml-4'>
    <a class='nav-link' href='/login'><i class="fas fa-sign-in-alt"></i> Login</a>
</li>
<li class='nav-item active ml-4'>
    <a class='nav-link' href='/admin'><i class="fas fa-users-cog"></i> Admin</a>
</li>
{% endblock nav %}
{% block content %}
<form action="/admin" method="post" class="text-center mt-5 container" style="width: 50%;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
    {% for category, message in messages %}
    <div class='alert alert-{{category}}'>
        <button type='button' class='close' data-dismiss='alert'>&times;</button>
        {{message}}
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1 class="display-4 text-center"><i class="fas fa-users-cog"></i> Admin Login</h1>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Password" name="password" required autofocus min="8">
    </div>

    <button class='btn btn-lg btn-primary btn-block' type='submit'><i class="fas fa-sign-in-alt"></i>  Login </button>
</form>


{% endblock content %}