{% extends 'layout.html' %}
{% block title %}
Admin Login
{% endblock  %}
{% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock style %}
{% block content %}
<div class="container">

    <div class="d-flex justify-content-center h-100">
        <div class="card">
            {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
            {% for category, message in messages %}
            <div class='alert alert-{{category}}'>
                <button type='button' class='close' data-dismiss='alert'>&times;</button>
                {{message}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card-header">
                <h3>Admin Login</h3>
            </div>
            <div class="card-body">
                <form action="{{url_for('admin.admin_login')}}" method="POST">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-at"></i></span>
                        </div>
                        <input type="email" name="email" class="form-control" placeholder="Email" minlength="8" required>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="Password" minlength="8" required>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right btn-block btn-outline-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}