<!-- layout for pages -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <script src="https://kit.fontawesome.com/4c8eb030d3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <title>{% block title %} {% endblock title %}</title>
</head>

<body>
    <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>

        <div class='container-fluid' id='navbarNav'>
            <ul class='nav navbar-nav navbar-brand'>
                <li class='nav-item'>
                    <a class='navbar-brand' href='/'><i class="fas fa-home"></i>  Home</a>
                </li>
            </ul>
            <ul class='nav navbar-nav ml-auto'>
                {% block nav %}{% endblock %}
            </ul>
        </div>
    </nav>
    <div class="container" style="color: white;text-shadow: 2px 2px 12px #000000;">
        {% block content %}{% endblock %}
        <hr style="border: 5px solid white;border-radius: 5px;" />
        <footer>
            <p>&copy; {{year}} - Mess Management System</p>
        </footer>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js'></script>
    <script>
        $(document).ready(function () {
            $(".custom-file-input").change(function (e) {
                var fileExtension = ['jpeg', 'jpg'];
                if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    alert("Only formats are allowed : " + fileExtension.join(', '));
                }
                $(".custom-file-label").html(e.target.files[0].name);
            });
        });
    </script>
</body>

</html>