{% extends 'layout.html' %}
{% block title %}
Reset Password
{% endblock  %}
{% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock style %}
{% block content %}
<div class="container">

    <div class="d-flex justify-content-center h-100">
        <div class="card">
            {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
            {% for category, message in messages %}
            <div class='alert alert-{{category}}'>
                <button type='button' class='close' data-dismiss='alert'>&times;</button>
                {{message}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card-header">
                <h3>Reset Password</h3>
                <div class="card-body">
                    <form action="{{url_for('user.forgot_password',token=token)}}" method="POST"
                        enctype="application/x-www-form-urlencoded">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input class="form-control" type="password" name="password" placeholder="Password"
                                minlength="8" max="80" required id="password" autofocus>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input class="form-control" type="password" placeholder="Confirm Password" minlength="8"
                                max="80" required id="confirm_password">
                        </div>
                        <div class="card-footer">
                            <div class="form-group">
                                <input type="submit" value="Reset Password" class="btn btn-block btn-outline-primary"
                                    id="button-confirm">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block script %}
    <script>
        $("#password, #confirm_password").on("keyup", function () {
            if ($('#password').val() !== $('#confirm_password').val()) {
                $("#button-confirm").prop({ "disabled": true });
            } else
                $("#button-confirm").prop({ "disabled": false });
        });
    </script>
    {% endblock script %}